*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.input{
  
  width: 600px;
  height: 90px;
 
  outline: none;
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(0, 72, 255);
  text-shadow: 0px 0px 10px blue;
  background-size: 400% 400%;
  background-image: linear-gradient(45deg,aqua,blue,royalblue);
  animation: anim1 14s infinite;
  transition: 0.4s;
  text-transform: capitalize;
  font-family: cursive;
  font-weight: 900;
  border: 3px solid transparent;
}
.submit
{
  display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size:20px;
   color: aqua;
   text-shadow: 0px 0px 10px aqua;
   font-family: fantasy;
   font-weight: 900;
  text-shadow: 0px 0px 10px blue;
  background-image: linear-gradient(105deg,aqua,blue);
  transition: 0.3s;
 

}
.submit:focus{
  color: rgb(0, 228, 228);
  transform: scale(1.1);
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 40px;
  background-image: linear-gradient(45deg,aqua,blue,royalblue);
  
  animation: anim2 4s infinite;
}
input::placeholder
{

  color: transparent;
  text-shadow: 0px 0px 10px aqua;
}
input:focus
{
  transform: scale(1.1);
  border: 3px solid rgb(0, 140, 140);
}
@keyframes anim1 {
  100%,0%
{
  background-position: 0% 0%;
  background-image: linear-gradient(45deg,aqua,blue,aqua);
  box-shadow: 0px 0px 90px 1px aqua;
  -webkit-text-stroke: 1px aqua;
color: transparent;
text-shadow: 0px 0px 5px aqua;

}
50%
{
  background-position: 100% 100%;
  background-image: linear-gradient(125deg,aqua,blue,aqua);
  box-shadow: 0px 0px 90px 1px blue;
-webkit-text-stroke: 1px aqua;
color: transparent;
text-shadow: 0px 0px 10px aqua;
}
}
